NAVIDROME_URL=http://127.0.0.1:14533
PUBLIC_URL=
DATA_DIR=./data
LIDARR_URL=
LIDARR_API_KEY=
LIDARR_QUALITY_PROFILE=
LIDARR_ROOT_FOLDER=
SLSKD_URL=
SLSKD_API_KEY=
SOULSEEK_DIR=
SINGLES_DIR=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
YTMUSIC_CLIENT_ID=
YTMUSIC_CLIENT_SECRET=
YTMUSIC_PYTHON=python3
